{% extends "app/layout.html" %}

{% block content %}
<div class='assignmentdata'>
	

<script>
  var html = "";
$.getJSON('https://reqres.in/api/users/',
  function (data) {
    // get data by json from get api url
  	var text = `Page: ${data.page}<br>
                per_page: ${data.per_page}<br>
                total: ${data.total}<br>
                total_pages: ${data.total_pages}<br><br>
                 Data<br>`
                     
   // fecthing nested json data in single loop
    $.each(data.data, function (index, item) {
      
      html += "<br> Name:&nbsp;" + item.first_name + "&nbsp;&nbsp;" + item.last_name +"<br>";
      
    });
    $(".assignmentdata").append(html);
    $(".mypanel").html(text);

  });


</script>
<div class="mypanel"></div>
</div>

{% endblock %}
